amqp==5.0.5
bcrypt==3.1.7
billiard==3.6.3.0
celery==5.0.5
cffi==1.14.5
Click==7.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
Jinja2==2.11.3
kombu==5.0.2
MarkupSafe==1.1.1
pdfkit==0.6.1
pycparser==2.19
pytz==2019.3
six==1.14.0
SQLAlchemy==1.4.3
vine==5.0.0
wkhtmltopdf==0.2
WTForms==2.2.1
Flask-Migrate==2.7.0